body {
    background: #323641;
    background-image: url(./images/chaos-theory_FRACTALINA.jpg);
    color: aliceblue;
  }
  
  .letter-image {
    position: absolute;
    top:30%;
    left: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    
    .body{
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 200px;
      border-color: transparent transparent #f97a7ead transparent;
      z-index: 2;
    } 
    
    .top-fold {
      position: absolute;
      top: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 100px 0 100px;
      -webkit-transform-origin: 50% 0%;
      -webkit-transition: transform .4s .4s, z-index .2s .4s;
      -moz-transform-origin: 50% 0%;
      -moz-transition: transform .4s .4s, z-index .2s .4s;
      transform-origin: 50% 0%;
      transition: transform .4s .4s, z-index .2s .4s;
      border-color: #fd7175c7 transparent ;
      z-index: 2;
    }
    
    .back-fold {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 100px;
      background: #f97a7ead transparent;
      z-index: 0;
    }
    
    .left-fold {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 50px 100px;
      border-color: transparent transparent transparent #f97a7ead;
      z-index: 2;
    }
    
    .letter {
      left: 20px;
      bottom: 0px;
      position: absolute;
      width: 160px;
      height: 60px;
      background: white;
      z-index: 1;
      overflow: hidden;
      -webkit-transition: .4s .2s;
      -moz-transition: .4s .2s;
      transition: .4s .2s;
      
      .letter-border {
        height: 10px;
        width: 100%;
        background: repeating-linear-gradient(
          -45deg,
          #ff0109,
          #f801b2 8px,
          transparent 8px,
          transparent 18px
        );
      }
      
      .letter-title {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 40%;
        background: #f56ad27e;
      }
      .letter-context {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 20%;
        background: #f56ad27e;
      }
      
      .letter-stamp {
        margin-top: 30px;
        margin-left: 120px;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        background: #ef87ce;
        opacity: 0.3;
      }
    }
  }
  
  .shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: .4s;
    transform: translateX(-50%);
    -webkit-transition: .4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: .4s;
    -moz-transform: translateX(-50%);
    
    border-radius: 100%;
    background: radial-gradient(rgba(57, 56, 56, 0.169), rgba(65, 28, 65, 0.196), rgba(63, 32, 32, 0.146));
  }
  
    .letter-image:hover {
      .animated-mail {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
      }
      
      .animated-mail .top-fold {
        transition: transform .4s, z-index .2s;
        transform: rotateX(180deg);
        -webkit-transition: transform .4s, z-index .2s;
        -webkit-transform: rotateX(180deg);
        -moz-transition: transform .4s, z-index .2s;
        -moz-transform: rotateX(180deg);
        z-index: 0;
      }
      
      .animated-mail .letter {
        height: 180px;
      }
      
      .shadow {
        width: 250px;
      }
    }
    /* email */
    .myEmail{
        text-decoration: none;
    
        color: #777373;
        font-weight: 700;

    }
    .myEmail:hover{
        color: #ea7c77;
        
        font-family: 'Times New Roman', Times, serif;
    }
    .myPhone{
        font-weight: 700;
        color: #777373;
    }
    .myPhone:hover{
        color: #ea7c77;
        font-family: 'Times New Roman', Times, serif;
    }

.myFoot{
  
  margin-top:700px;
}
.myEmailPhoneSvg{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

top: 40%;
}
@media (max-width: 974px) {
  .letter-image {
    /* overflow-x: hidden; */
 
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    /* display: none; */
   
  }

  .myEmailPhoneSvg {
    top: 57%;
    display: block;
    font-size: 12px;
     
    
   }
}


@media screen and (max-width: 425px) {


  .divMyEmail a {
    font-size: 1rem;
  }

  .myEmailPhoneSvgMobile {
    top: 90%;
  }

  .letter-image-mobile {
    top: 60%;
  }
  

  .myFoot {
    overflow: hidden;
  } 

  
}



/* foooooter */
.myFooterInPage2{

  line-height: 0.15;
  overflow: hidden;
bottom: 0px;
 
}

.footer1{
  height:0px;
  width:1px;
  border-bottom:6px solid #460202;
  
  -webkit-animation: increase 15s;
  -moz-animation:    increase 15s; 
  -o-animation:      increase 15s; 
  animation:         increase 15s; 
  animation-fill-mode: forwards;
  padding-top: 20px;
}

@keyframes increase {
    100% {
        width: 300%;
    }
}
.footer2{
  height:0px;
  width:1px;
  border-bottom:4px solid #f40606;
  
  -webkit-animation: increase 13s;
  -moz-animation:    increase 13s; 
  -o-animation:      increase 13s; 
  animation:         increase 13s; 
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 300%;
    }
}
.footer3{
  height:0px;
  width:1px;
  border-bottom:2px solid #ed5151;
  
  -webkit-animation: increase 7s;
  -moz-animation:    increase 7s; 
  -o-animation:      increase 7s; 
  animation:         increase 7s; 
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 300%;
    }
}











   